extends layout
block content 
  #app(data-id = bucket._id, data-name = bucket.name)
  - src = process.env.NODE_ENV === 'production' ? 'bucket.js' : 'http://localhost:8080/bucket.js'
  script(src=src)
